/* Importa i font da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* Definisce le classi per i font */
.raleway {
  font-family: "Raleway", sans-serif; /* Raleway */
}


.ubuntu-sans {
  font-family: "Ubuntu Sans", sans-serif;/* Ubuntu Sans */
}

/*rgb(77, 121, 179); primario
rgb(210, 200, 190) sfondo
*/
:root{
  --primary: rgb(77, 132, 177);
  --secondary: rgb(167, 168, 169);
  --tertiary: rgb(125, 130, 137);
  --marrone: #6f4e37;
  --coloreBackground: rgb(198, 187, 177);
}


*{
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: var(--coloreBackground); /*tortora caldo*/
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  overflow-y: auto;
  padding-left: 5%;
  padding-right: 5%;

}

.btn{
  background: lightgray;
  color: var(--primary);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1 solid rgb(0, 0, 0);
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a5c1cc;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
}

h1 {
  font-size: calc(2vw + 1em);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: calc(0.6vw + 5px) calc(1.2vw + 10px);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #d5b39c;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

